---
layout: base
title: Collection
---
{% assign image       = site.accent_image | default:'/assets/img/sidebar-bg.jpg' %}
{% assign color       = site.accent_color | default:'#4fb1ba' %}
{% assign theme_color = site.theme_color  | default:'#193747' %}
<p>
  <h1 class="page-title">{{ page.title | default:strings.home | default:"Home" }}</h1>
  {% include components/message.html text=page.description hide=page.hide_description %}
</p>

<p>
  {% assign sorted = site.talks | sort: 'date' | reverse %}
  {% for item in sorted %}
    <ul>
      <!-- do a proper li class later-->
      <li style="margin:0 0 50px 0;">
        <a href="{{ item.url | relative_url }}" class="h2 flip-title">
        <span>{{ item.title }}</a><br /> 
        <time class="heading faded fine">
        {{ item.date | date_to_string }}</time><br />  
        {{ item.description }}</span>
      </li>
    </ul>
    <hr>
  {% endfor %}
  </p>

{{ content }}
